<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @profile.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @profile.lname %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @profile.rank %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
