<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Name:"%>
    <%= form.text_field :name, required: "required" %>
  </div>

  <div class="field">
    <%= form.label :origin, "Origin:" %>
    <%= form.select :origin, list, {include_blank: "Select Origin"}, required: "required" %>
  </div>

  <div class="field">
    <%= form.label :destination, "Destination:" %>
    <%= form.select :destination, list, {include_blank: "Select Destination"}, required: "required" %>
  </div>

  <div class="field">
    <%= form.label :cost, "Cost:" %>
    <% if job.cost %>
      <%= form.number_field :cost, min: 1000, max: 10000000, step: 0.01, value: job.cost, required: "required" %>
    <% else %>
      <%= form.number_field :cost, min: 1000, max: 10000000, step: 0.01, value: 1000.00, required: "required" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :containers, "# of Containers Needed:" %>
    <% if job.containers %>
      <%= form.number_field :containers, min: 100, max: 100000, step: 100, value: job.containers, required: "required" %>
    <% else%>
      <%= form.number_field :containers, min: 100, max: 100000, step: 100, value: 100, required: "required" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :desc, "Description:"%>
    <%= form.text_area :desc, required: "required" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
