<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :boat_id %>
    <%= form.collection_select :boat_id, Boat.where("profile_id = ?", current_user.profile.id), :id, :name_containers, {include_blank: "Select"}, required: true %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.collection_select :job_id, Job.select{ |j| j.containers_needed > 0}, :id, :containers_needed_text, {include_blank: "Select"}, required: true %>
  </div>

  <div class="field">
    <%= form.label :start, "Start Date:" %>
    <% if schedule.start %>
      <%= form.date_field :start, required: "required", min: schedule.start.to_date, value: schedule.start.to_date, required: "required" %>
    <% else %>
      <%= form.date_field :start, required: "required", min: today, value: today, required: "required" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :finish, "Finish Date" %>
    <% if schedule.finish %>
      <%= form.date_field :finish, required: "required", min: today, value: schedule.finish.to_date, required: "required" %>
    <% else %>
      <%= form.date_field :finish, required: "required", min: today + 1, value: today + 1, required: "required" %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
