<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :boat_id %>
    <%= form.collection_select :boat_id, Boat.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.collection_select :job_id, Job.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :finish %>
    <%= form.datetime_select :finish %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
