<p>
  <strong>Boat:</strong>
  <%= @schedule.boat.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @schedule.job.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start.strftime("%B, %d, %Y") %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @schedule.finish.strftime("%B, %d, %Y") %>
</p>

<% if current_user == @schedule.boat.profile.user %>
  <%= link_to 'Edit', edit_schedule_path(@schedule) %>
<% end %>
<%= link_to 'Back', schedules_path %>