<p id="notice"><%= notice %></p>

<p>
  <strong>Boat:</strong>
  <%= @schedule.boat.name %>
</p>

<p>
  <strong>Job:</strong>
  <%= @schedule.job.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @schedule.finish %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
