<%= form_with(model: boat, local: true) do |form| %>
  <% if boat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(boat.errors.count, "error") %> prohibited this boat from being saved:</h2>

      <ul>
      <% boat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Name:" %>
    <% if boat.name %>
      <%= form.text_field :name, value: boat.name, required: "required" %>
    <% else %>
      <%= form.text_field :name, value: "S.S.", required: "required" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :max_containers, "# of Containers:" %>
    <% if boat.name %>
      <%= form.number_field :max_containers, value: boat.max_containers, min: 100, max: 5000, step: 50, required: "required" %>
    <% else %>
      <%= form.number_field :max_containers, value: 100, min: 100, max: 5000, step: 50, required: "required" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.select :location, list, required: "required" %>
  </div>

  <div class="field">
    <% if boat.avatar.attached? %>
      <%= image_tag @boat.avatar.variant(resize: "100x100") %>
    <% end %>
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: "avatar-upload" %>
    <img id="img_prev" height=100 src="#" class="img-thumbnail hidden"/>
  </div>

    <%= form.hidden_field :profile_id, value: current_user.profile.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
